# OS / editor
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage*
.mypy_cache/
.ruff_cache/
.tox/

# Envs
.env
.env.*
.venv/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
